# OS Generated
#=============================
.DS_Store
*~


# R
#=============================
.Rapp.history


# Jupyter
#=============================
.ipynb_checkpoints/


# Directories
#=============================
data/
